{% load static %}

<li class="nav-item " id="home-link">
    <a class="nav-link" href="{% url 'dashboard:home' %}">
        <i class="material-icons">store</i>
        <p>خانه</p>
    </a>
</li>



<li class="nav-item " id="home-link">
    <a class="nav-link" href="{% url 'market:home' %}">
        <i class="material-icons">store</i>
        <p>مارکت</p>
    </a>
</li>




<li class="nav-item " id="sidebar-manager-link">
    <a class="nav-link" href="{% url 'dashboard:manager' %}">
        <i class="material-icons">store</i>
        <p>مدیریت</p>
    </a>
</li>



<li class="nav-item " id="sidebar-manager-link">
    <a class="nav-link" href="{% url 'manager:home' %}">
        <i class="material-icons">store</i>
        <p>پروژه</p>
    </a>
</li>


