{% load static %}

<li class="nav-item " id="home-link">
    <a class="nav-link" href="{% url 'dashboard:home' %}">
        <i class="material-icons">store</i>
        <p>خانه</p>
    </a>
</li>

<li class="nav-item " id="home-link">
    <a class="nav-link" href="{% url 'pusher:home' %}">
        <i class="material-icons">store</i>
        <p>پوشر</p>
    </a>
</li>

<li class="nav-item " id="home-link">
    <a class="nav-link" href="{% url 'shop:home' %}">
        <i class="material-icons">store</i>
        <p>مارکت</p>
    </a>
</li>

<li class="nav-item " id="sidebar-manager-link">
    <a class="nav-link" href="{% url 'dashboard:manager' %}">
        <i class="material-icons">store</i>
        <p>مدیریت</p>
    </a>
</li>



<li class="nav-item " id="sidebar-manager-link">
    <a class="nav-link" href="{% url 'kids:home' %}">
        <i class="material-icons">face</i>
        <p>کودک</p>
    </a>
</li>
